<h1>Edit List</h1>
<%= form_with(model: @listing, local: true) do |form| %>
  <p>
    <%= form.label :title %><br/>
    <%= form.text_field :title %><br/>
  </p>
  <p>
    <%= form.label :address %><br/>
    <%= form.text_field :address %><br/>
  </P>
  <p>
    <%= form.label :price_per_day %><br/>
    <%= form.text_field :price_per_day %><br/> 
  </p>
  
  <p>
    <%= form.label :description %><br/>
    <%= form.text_field :description %><br/> 
  </p>

  <p>
    <%= form.label :amenities %><br/>
    <%= form.text_field :amenities %><br/> 
  </p>
  
  <p>
    <%= form.label :guests %><br/>
    <%= form.text_field :guests %><br/> 
  </p>
  
  <p>
    <%= form.label :bedrooms %><br/>
    <%= form.text_field :bedrooms %><br/> 
  </p>

  <p>
    <%= form.label :beds %><br/>
    <%= form.text_field :beds %><br/> 
  </p>

  <p>
    <%= form.label :sleeping_arrangements %><br/>
    <%= form.text_field :sleeping_arrangements %><br/> 
  </p>
  
  <p>
    <%= form.label :baths %><br/>
    <%= form.text_field :baths %><br/> 
  </p>

  <p>
    <%= form.label :tag_list, "Tags (separated by commas)" %><br />
    <%= form.text_field :tag_list %>
  </p>

  <%= form.submit %>
<% end %>

<%= link_to 'Back', home_index_path %>