<h1>Edit List</h1>
<%= form_with(model: @listing, local: true) do |form| %>
  <p>
    <%= form.label :title %><br/>
    <%= form.text_field :title %><br/>
  </p>
  <p>
    <%= form.label :address %><br/>
    <%= form.text_field :address %><br/>
  </P>
  <p>
    <%= form.label :price_per_day %><br/>
    <%= form.text_field :price_per_day %><br/> 
  </p>
  <%= form.submit %>
<% end %>

<%= link_to 'Back', home_index_path %>