<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Price Per Day:</strong>
  <%= @listing.price_per_day %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>

<p>
  <strong>Amenities:</strong>
  <%= @listing.amenities %>

<p>
  <strong>Number of Guest(s):</strong>
  <%= @listing.guests %>

<p>
  <strong>Number of Bedrooms:</strong>
  <%= @listing.bedrooms %>

<p>
  <strong>Number of Beds:</strong>
  <%= @listing.beds %>

<p>
  <strong>Sleeping Arrangements:</strong>
  <%= @listing.sleeping_arrangements %>

<p>
  <strong>Number of Baths:</strong>
  <%= @listing.baths %>
</p>

<p>
  <strong>Country:</strong>
  <%= @listing.country %>
</p>

<%= link_to 'Back', home_index_path %>