<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Price Per Day:</strong>
  <%= @listing.price_per_day %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>

<p>
  <strong>Amenities:</strong>
  <%= @listing.amenities %>

<p>
  <strong>Number of Guest(s):</strong>
  <%= @listing.guests %>

<p>
  <strong>Number of Bedrooms:</strong>
  <%= @listing.bedrooms %>

<p>
  <strong>Number of Beds:</strong>
  <%= @listing.beds %>

<p>
  <strong>Sleeping Arrangements:</strong>
  <%= @listing.sleeping_arrangements %>

<p>
  <strong>Number of Baths:</strong>
  <%= @listing.baths %>
</p>

<<<<<<< HEAD
<p>
  <strong>Country:</strong>
  <%= @listing.country %>
</p>
=======
<%= form_with scope: @reservation , url: listing_reservations_path(@listing.id), local:true do |form| %>
  <p>
    <strong>Place a booking?</strong><br/>
    <%= form.label :start_date %>
    <%= form.date_field :start_date %><br/>
    <%= form.label :end_date %>
    <%= form.date_field :end_date %><br/>
    <%= form.submit %>
  </p>
<% end %>
>>>>>>> acafd4f4c0be76f49b8b0eaf0a6ef094ab9d91aa

<%= link_to 'Back', home_index_path %>