<div class="container" style="text-align: center;">
  <div class="row">
    <div class="col">


      <h1>Jamal's BnB</h1>
      <p> Welcome to the best BnB site for quality stay at affordable prices! </p>
    
    
      <% if signed_in? %>

      <% else %>
        Have an account?<%= link_to t(".sign_in"), sign_in_path %>
      <% end %>
      <h2>List of Accomodation</h2>
        <% @listings.each do |listing| %>
          <tr>
            <div class="d-inline-block">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><%= listing.title %></h5>
                  <p class="card-text"><%= listing.description %></p>
                  <td><%= link_to 'Show', listing_path(listing) %></td>
                </div>
                <% if signed_in? %>
                  <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
                  <td><%= link_to 'Destroy', listing_path(listing), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
              </div>
            </div>
          </tr>
        <% end %>
      <%= paginate @listings %>
    </div>
  </div>
</div>  
