<h1 id=pHeader>Jamal's BnB</h1>
<p> Welcome to the best BnB site for quality stay at affordable prices! </p>

<h1>Listing articles</h1>
  <% if signed_in? %>
    <%= link_to 'Create New List', new_listing_path %>
  <% end %>
<table>
  <tr>
    <th>Title</th>
    <th>Address</th>
    <th>Price Per Day</th>
    <th></th>
  </tr>
 
  <% @listings.each do |listing| %>
    <tr>
      <td><%= listing.title %></td>
      <td><%= listing.address %></td>
      <td><%= listing.price_per_day %></td>
      <% if signed_in? %>
        <td><%= link_to 'Show', listing_path(listing) %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing_path(listing), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<style>
#pHeader {
  text-align: center;
  font-size: 60px;
}

p {
  text-align: center;
  font-size: 30px;
}
</style>