<h1 id=pHeader>Jamal's BnB</h1>
<p> Welcome to the best BnB site for quality stay at affordable prices! </p>

<div class="text-center">
    Have an account?<%= link_to t(".sign_in"), sign_in_path %>
    <h2>List of Accomodation</h2>
      <% if signed_in? %>
        <%= link_to 'Create New List', new_listing_path %>
      <% end %>
</div>
    <table class="text-center" style="margin-top:10px; margin-left:510px;">
      <tr class="text-center">
        <th>Title</th>
        <th>Address</th>
        <th>Price Per Day</th>
        <th></th>
      </tr>
      <div>
        <% @listings.each do |listing| %>
          <tr class="text-center">
            <div class="text-center">
              <td><%= listing.title %></td>
              <td><%= listing.address %></td>
              <td><%= listing.price_per_day %></td>
                <% if signed_in? %>
                  <td><%= link_to 'Show', listing_path(listing) %></td>
                  <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
                  <td><%= link_to 'Destroy', listing_path(listing), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
            </div>
          </tr>
        <% end %>
      </div>
    </table>
