<%= form_with model: @reservation , url: listing_reservation_path ,local:true do |form| %>
  <p>
    <strong>Place a booking?</strong><br/>
    <%= form.label :start_date %>
    <%= form.date_field :start_date %><br/>
    <%= form.label :end_date %>
    <%= form.date_field :end_date %><br/>
    <%= form.submit %>
  </p>
<% end %>